.personal-info {
	display: flex;
	align-items: center;
	&__icon {
		position: relative;
		background-color: #004A71;
		color: #FFF;
		min-width: 50px;
		width: 50px;
		height: 50px;
	}
	&__icon span {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	&__text {
		padding-left: 10px;
	}
}

@media screen and (min-width: 960px) {
	.personal-info__text {
		padding-left: 20px;
	}
}