.contact {
    &__box {
        background-color: #FFF;
        padding: 20px;
    }
    input[type=number]::-webkit-inner-spin-button, 
    input[type=number]::-webkit-outer-spin-button { 
        -webkit-appearance: none; 
        margin: 0; 
    }
}

@media screen and (min-width: 960px) {
    .contact__box {
        padding: 50px;
    }
}