.contact {
    .personal-info-list {
        column-count: 2;
        @media (max-width: $s-max) {
            column-count: 1;
        }
    }
    &--block {
        background-color: #FFF;
        padding: 50px;
    }
}