.hero {
    background: url('../img/bg.jpg') no-repeat top center;
    background-size: cover;
    height: 100vh;
    padding-top: 0px;
    padding-bottom: 0px;
    .me-img {
        width: 150px;
    }
    h2 {
        font-family: 'Lobster', cursive;
        font-size: 2.6em;
    }
    p {
        font-family: 'Lobster', cursive;
        font-size:1.6em;
        color: #FFF;
    }
    .uk-overlay-primary {
        height: 100vh;
    }
    .social-media {
        @media (max-width: $m-max) {
            display: none;
        }
    }
}

@media (min-width: $s) {
    .hero .me-img {
        width: 200px;
    }
    .hero h2 {
        font-size: 5em;
    }
    .hero p {
        font-size: 2em;
    }
}