.portfolio {
    background-color: #FFF;
    .uk-inline-clip {
        margin: 5px;
    }
    .uk-overlay-primary {
        background: rgba(34,34,34,0.5);
    }

    a:hover {
        text-decoration: none;
    }

    &__title-project {
        font-size: 0.8rem;
    }
}

.portfolio-img {
    height: 150px;
    @media (min-width: $m) {
        height: 150px;
    }
    @media (min-width: $m) {
        // height: 180px;
    }
    @media (min-width: $l) {
        height: 180px;
    }
    @media (min-width: $xl) {
        height: 220px;
    }
}

@media (min-width: $m) {
    .portfolio__title-project {
        font-size: 1rem;
    }
}