.skills {
    margin-top: 100px;
    div:first-child {
        display: flex;
        align-items: center;
    }
    img {
        width: 130px;
        display: table;
        margin: 0 auto;
    }
}